.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.content {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
