.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.viewport {
  flex: 1;
}

.placeholder {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
