h2 New Pending Member
p The following user is pending approval:
ul
  li Name: #{firstName}
  li Email: #{email}
  li Status: #{status}
p
  a(href=`${siteUrl}/admin/pending-members`) View Pending Members

